.header {
    background-color: rgba(242, 206, 218, 0.3);

    &__wrapper {
        padding: 10px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger {
        display: none;
        z-index: 4;
        font-size: 38px;
        cursor: pointer;
        transition: 0.2s;

        @media (max-width: 840px) {
            display: block;
        }

        &:hover {
            color: rgb(210, 49, 102);
        }

        &--black {
            color: black;
        }
        &--white {
            color: white;
            position: fixed;
            right: 16px;
        }
    }

    button {
        @media (max-width: 840px) {
            display: none;
        }
    }
}
