.contact {
    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 80px 0;
    }

    &__title {
        font-size: 44px;
        font-weight: 500;
        line-height: 52px;
        text-align: center;
        padding-bottom: 28px;
    }

    &__form {
        display: flex;
        align-items: center;

        @media (max-width: 515px) {
            flex-direction: column;
            gap: 20px;
        }

        button {
            margin-left: -4px;
        }
    }

    &__input {
        background-color: rgb(250, 250, 250);
        padding: 14.5px 30px;
        width: 100%;
        max-width: 200px;
        min-width: 100px;
        outline: none; /* Убираем стандартный outline */
        transition: border 0.3s ease-in-out; /* Задаем transition для box-shadow */
        border-radius: 5px 0 0 5px;
        border: none;
        box-sizing: border-box;

        &:focus {
            border: 1px solid rgb(210, 49, 102);
        }
        &::placeholder {
            transition: 0.2s ease-in-out;
        }

        @media (max-width: 515px) {
            border-radius: 5px;
        }
    }
}
