.testimonials {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media (max-width: 853px) {
            flex-direction: column;
        }
    }

    &__inner {
        @media (max-width: 853px) {
            order: -1;
            text-align: center;
        }
    }

    &__image {
        max-width: 90%;

        @media (max-width: 853px) {
            max-width: 50%;
        }
    }
}
