@font-face {
    font-family: "Fredoka";
    src: url("./assets/fonts/Fredoka_Expanded-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Hind";
    src: url("./assets/fonts/HindMadurai-Regular.ttf");
}

a,
button {
    transition: 0.2s ease-in-out;
}

li {
    list-style: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    color: #150101f0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

section {
    padding: 80px 0;

    @media (max-width: 1024px) {
        padding: 50px 0;
    }
}

p {
    color: rgba(15, 1, 1, 0.6);
}

.container {
    position: relative;
    width: 1248px;
    margin: 0 auto;
    padding: 0 16px;
    font-size: 16px;

    @media (max-width: 1280px) {
        width: 992px;
    }

    @media (max-width: 1024px) {
        width: 768px;
    }

    @media (max-width: 768px) {
        width: 90%;
        padding: 0 10px;
    }
}

.fade {
    animation: fade 0.5s ease-in-out;

    @keyframes fade {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
